@*@model Empresa*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam todos bem vindos!</h1>
    <p>Meu primeiro site com MVC <a href="https://docs.microsoft.com/aspnet/core">Aprendendo ASP.NET Core - MVC</a>.</p>
    @*<p>A empresa @Model.Nome de telefone @Model.Telefone está recrutando novos colaboradores</p>*@
</div>

