@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<button type="button" class="btn btn-primary">Céu</button>
<button type="button" class="btn btn-secondary">Fumaça</button>
<button type="button" class="btn btn-success">Natureza</button>
<button type="button" class="btn btn-danger">Power</button>
<button type="button" class="btn btn-warning">Alegria</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>