@model BuscaVaga

@{
    ViewData["Title"] = "Busca";
}

<h1>Busca</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="p-3 mb-2 bg-warning text-dark">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                @*<select asp-for="Cargo" class ="form-control" asp-items="ViewBag.Cnpj"></select>*@
                 <select class="form-select" id="Cargo" required asp-for="Cargo">
                    <option value="">Selecione...</option>
                    <option value="Analista Programador">Analista Programador</option>
                    <option value="Analista de Sistemas">Analista de Sistemas</option>
                    <option value="Analista de Testes">Analista de Testes</option>
                    <option value="Lider">Líder</option>
                </select>

            </div>

            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                @*<select asp-for="Nivel" class ="form-control" asp-items="ViewBag.Cnpj"></select>*@

                <select class="form-select" id="Nivel" required asp-for="Nivel">
                    <option value="">Selecione...</option>
                    <option value="Junior">Júnior</option>
                    <option value="Pleno">Pleno</option>
                    <option value="Senior">Sênior</option>
                </select>


            </div>

             <div class="form-group">
                <label asp-for="Tecnologia" class="control-label"></label>
                @*<select asp-for="Tecnologia" class ="form-control" asp-items="ViewBag.Cnpj"></select>*@


                <select class="form-select" id="Tecnologia" required asp-for="Tecnologia">
                    <option value="">Selecione...</option>
                    <option value="dotnet">DotNet</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                    <option value="php">PHP</option>
                    <option value="Oracle">Oracle</option>
                    <option value="SQL Server">SQL Server</option>
                </select>

            </div>

             <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                @*<select asp-for="Cidade" class ="form-control" asp-items="ViewBag.Cnpj"></select>*@

                <select class="form-select" id="cidade" required asp-for="Cidade">
                    <option value="">Selecione...</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Home Office">Home Office</option>
                    <option value="São Sebastião do Paraíso">São Sebastião do Paraíso</option>
                </select>

            </div>
           
            <div class="form-group">
                <input type="submit" value="Busca" class="btn btn-primary" asp-controller="Busca" asp-action="Resultado"/>
                @*<a class="btn btn-success" asp-controller="Busca" asp-action="Index"></a>*@
            </div>
        </form>
        </div>
    </div>
</>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
